


/* body{
  background-color: lightblue;
} */
/* NavLink {
  text-decoration: none;
} */

/* .home-wrapper{
  margin-top: 36px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; */
/* } */
.howto-Nav{
  text-decoration: none;
}

 .home-wrapper h2{
  color: #1c5d76;
} 
.home-link{
  text-decoration: none;
  color: #1c5d76;
  font-weight: bold;
  font-size:50px;

}

.howto-Card {
  display:flex;
  flex-wrap: wrap;
  border: 1 px solid gray;
  text-decoration: none;
  

}
.howto-list-wrapper {
  margin-top: 36px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.howto-list-title a {
  text-decoration: none;
}

.howTo-header {
  color:  #1c5d76;
}
.nav-links a {
  text-decoration: none;
  color: #1c5d76;
  font-weight: bold;
  margin-right: 8px;
}